@page "/project/angular-template"

<PageTitle>Angular Template SPA</PageTitle>

<div class="container-fluid main-div">
    <div class="row main-div">
        <div class="col-lg-1 menu-col menu-col-home" onclick="location.href='/';" style="cursor: pointer;" >
            <h2>index</h2>
        </div>
        <div class="col-lg-3 menu-col menu-col-gradient" onclick="window.open('https://github.com/mjkonko/angular-template-SPA', '_blank')">

            <h2>Angular Template</h2>
            <p>A quick template written in Angular to be quickly used to create SPAs.</p>
            <p>Rough around the edges, can be wildly customized while the skeleton stays the same...like with humans!</p>
            <p style="font-size:x-small">Click anywhere to access the repo for the template.</p>
        </div>
        <div class="col-lg-7 menu-col menu-col-gradient">
                <img src="projectfiles/angular-template/image-2.png" class="img-fluid img-screenshot" alt="angular template image"/>
        </div>
    </div>
</div>