@page "/project/angular-template"

<PageTitle>Angular Template SPA</PageTitle>

<div class="container-fluid main-div">
    <div class="main-div">
        <div class="col-1 menu-col menu-col-home" onclick="location.href='/';" style="cursor: pointer;" >
            <h2>index</h2>
        </div>
        <div class="col-3 menu-col menu-col-gradient" onclick="window.open('https://github.com/mjkonko/angular-template-SPA', '_blank')">

            <h2>Angular Template SPA</h2>
            <p>A small and very basic Angular template to build SPA projects quickly and sustainably.</p>
            <p style="font-size:x-small">Click anywhere to access the repo for the template.</p>
        </div>
        <div class="col-7 menu-col menu-col-gradient">
                <img src="projectfiles/angular-template/image-2.png" class="img-fluid img-screenshot" alt="angular template image"/>
        </div>
    </div>
</div>