@page "/project/congress-app"

<PageTitle>Congress App</PageTitle>

<div class="container-fluid main-div">
    <div class="row main-div">
        <div class="col-lg-1 menu-col menu-col-home" onclick="location.href='/';" style="cursor: pointer;" >
            <h2>index</h2>
        </div>
        <div class="col-lg-3 menu-col menu-col-gradient" onclick="window.open('https://github.com/mjkonko/congressApp', '_blank')">
            <img src="projectfiles/congress-app/image1.png" class="img-fluid" alt="Logo" style="width: 30%; height: auto;" />

            <h2>Congress App</h2>
            <p>The first Flutter take with a taste of backend hosting on Heroku utilizing Python's Fast API.</p>
            <p>The app provided an agenda, contact details to organizers and maps, for the attendees of the XV Congress of Polish Student Societies in the UK.</p>
            <p style="font-size:x-small">Click anywhere to access the repo for the mobile app.</p>
        </div>
        <div class="col-lg-1 menu-col menu-col-gradient" onclick="window.open('https://www.polishcongress.com/', '_blank')">
           <h3> Project Website </h3>
        </div>  
    </div>
</div>