@page "/empty"
using RestSharp;

<PageTitle>empty</PageTitle>

<div class="container-fluid main-div">
    <div class="row main-div">
        <div class="col-1 menu-col menu-col-home" onclick="location.href='/';" style="cursor: pointer;" >
            <h2>index</h2>
        </div>
        <div class="col-3 menu-col menu-col-gifgradient" style="cursor: pointer; font-size: x-large">
                <p>You're early! This page is not ready yet but will be...one day</p>
        </div>
    
    </div>
</div>
```