.main-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.menu-col {
    cursor: pointer;
    padding: 20px;
    text-align: center;
    background-color: #050b12eb;
    color: #ffffffd0;
    flex-grow: 1;
    transition: flex-grow 0.3s, background-position 1s, background-image 1s; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-col:hover {
    flex-grow: 2;
}

.menu-col-home {
    background-size: 200% 200%;
}

.menu-col-home:hover {
    background-position: 100% 0;
    background-image: linear-gradient(65deg, #265023, #0c0a36);
}

.menu-col-gifgradient{
    background-size: 200% 200%;
}

.menu-col-gifgradient:hover {
    background-position: 100% 0;
    background-image: linear-gradient(65deg, #ad3303, #9907c5);
}
