@page "/"

<PageTitle>nenna</PageTitle>

<div class="container-fluid main-div">
    <div class="row main-div">
        <div class="col menu-col menu-col-violetgradient" onclick="location.href='@me';" style="cursor: pointer;">
            <h2>me</h2>
        </div>
        <div class="col menu-col menu-col-darkgreengradient" onclick="location.href='@project1';" style="cursor: pointer;">
            <h2>some-project-1</h2>
        </div>
        <div class="col menu-col menu-col-darkblueradient" onclick="location.href='@project2';" style="cursor: pointer;">
            <h2>some-project-2</h2>
        </div>
    </div>
</div>

@code {
    string me = "/me";
    string project1 = "/empty";
    string project2 = "/empty";
}