@page "/"

<PageTitle>nenna</PageTitle>

<div class="container-fluid main-div">
    <div class="row main-div">
        <div class="col menu-col menu-col-violetgradient" onclick="location.href='@me';" style="cursor: pointer;">
            <h2>me</h2>
        </div>
        <div class="col menu-col menu-col-darkgreengradient" onclick="location.href='@project1';" style="cursor: pointer;">
            <h2>FedeApp</h2>
            <p>Flutter (Android&iOS), Pocketbase, Hetzner</p>
        </div>
        <div class="col menu-col menu-col-darkblueradient" onclick="location.href='@project2';" style="cursor: pointer;">
            <h2>Angular Template</h2>
            <p>Angular, SPA, WebDev, FrontEnd</p>
        </div>
        <div class="col menu-col menu-col-darkblueradient" onclick="location.href='@project3';" style="cursor: pointer;">
            <h2>Congress App</h2>
            <p>Flutter (Android&iOS), FastAPI, Heroku</p>
        </div>
    </div>
</div>

@code {
    string me = "/me";
    string project1 = "/project/fedeapp";
    string project2 = "/project/angular-template";
    string project3 = "/project/congress-app";
}