@page "/me"

<PageTitle>me</PageTitle>

<div class="container-fluid main-div">
    <div class="row main-div">
        <div class="col-1 menu-col menu-col-home" onclick="location.href='/';" style="cursor: pointer;" >
            <h2>index</h2>
        </div>
        <div class="col-3 menu-col menu-col-cvgradient" style="cursor: pointer;" onclick="window.open('https://drive.google.com/file/d/1yieKxpPehWX89MRoCp6IYW1hkIEdzd0j/view?usp=drive_link', '_blank')">
                <p>CV</p>
        </div>
        <div class="col-3 menu-col menu-col-linkedingradient" style="cursor: pointer;" onclick="window.open('https://linkedin.com/in/mjkonko', '_blank')">
                <p>LinkedIn</p>
        </div>
        <div class="col-3 menu-col menu-col-githubgradient" style="cursor: pointer;" onclick="window.open('https://github.com/mjkonko', '_blank')">
                <p>GitHub</p>
        </div>
    </div>
</div>