@page "/project/xxxxxxxxxxx"

<PageTitle>Project Title</PageTitle>

<div class="container-fluid main-div">
    <div class="row main-div">
        <div class="col-1 menu-col menu-col-home" onclick="location.href='/';" style="cursor: pointer;" >
            <h2>index</h2>
        </div>
        <div class="col-3 menu-col menu-col-gradient" onclick="window.open('https://github.com/mjkonko/', '_blank')">
            <img src="projectfiles/xxxxxx/image1.png" class="img-fluid" alt="xxxxx" style="width: 30%; height: auto;" />

            <h2>XXXXX</h2>
            <p></p>
            <p style="font-size:x-small">Click anywhere to access the repo for the mobile app.</p>
        </div>
        <div class="col-7 menu-col menu-col-gradient">
                <img src="projectfiles/xxxxx/image2.png" class="img-fluid img-screenshot" alt="xxxxx"/>
        </div>
    </div>
</div>