@page "/project/fedeapp"

<PageTitle>FedeApp</PageTitle>

<div class="container-fluid main-div">
    <div class="row main-div">
        <div class="col-lg-1 menu-col menu-col-home index-button" onclick="location.href='/';" style="cursor: pointer;" >
            <h2>index</h2>
        </div>
        <div class="col-lg-3 menu-col menu-col-gradient text-part" onclick="window.open('https://github.com/mjkonko/fede_app', '_blank')">
            <img src="projectfiles/fedeapp/image1.png" class="img-fluid" alt="Logo" style="width: 30%; height: auto;" />

            <h2>FedeApp</h2>
            <p>A wholistic solution for a mobile application written in Flutter using Pocketbase as an API, hosted on Hetzner Cloud.</p>
            <p>The app delivered updatable events with agendas, descriptions and imagery, information on the Federation of Polish Student Societies in the UK & links to other sources.</p>
            <p style="font-size:x-small">Click anywhere to access the repo for the mobile app.</p>
        </div>
        <div class="col-lg-7 menu-col menu-col-gradient ss-part">
                <img src="projectfiles/fedeapp/image2.png" class="img-fluid img-screenshot" alt="FedeApp"/>
        </div>
    </div>
</div>